<p>
  <b>Name:</b>
  <%= @current_user.name %>
</p>
<div class="row">
  <div class="col">
    <%= form_for @post, url: posts_path, remote: true do |f| %>
      <%= f.text_field :content %>
      <%= f.date_select :due %>
      <%= f.submit "Submit" %>
  <% end %>
  </div>
</div>

<% if @posts.any? %>
  <div class="row">
    <div class="col">
      <ul id="ajax-result-post-create-1" class="list-group">
        <%= render "shared/list_up_posts" %>
      </ul>
    </div>
  </div>
<% end %>